
Uncleaned Data/2023 grades dataset.csv
Uncleaned Data/2022 grades dataset.csv
Exploring the Socio-Economic Determinants of Educational Performance A Study of Thanaweya Amma Exams in Egypt (2022-2023).pptx
Exploring the Socio-Economic Determinants of Educational Performance A Study of Thanaweya Amma Exams in Egypt (2022-2023).pptx
Exploring the Socio-Economic Determinants of Educational Performance A Study of Thanaweya Amma Exams in Egypt (2022-2023).pptx
Exploring the Socio-Economic Determinants of Educational Performance A Study of Thanaweya Amma Exams in Egypt (2022-2023).pptx
Exploring the Socio-Economic Determinants of Educational Performance A Study of Thanaweya Amma Exams in Egypt (2022-2023).pptx
